"*":
  "advanced-new-file":
    createFileInstantly: true
    suggestCurrentFilePath: true
  "atom-material-ui":
    depth: true
    fonts: {}
    panelContrast: true
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
  "circle-ci":
    apiToken: "CIRCLE_CI_API_TOKEN"
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "svg-preview"
      "relative-numbers"
      "vim-surround"
      "vim-mode"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
    themes: [
      "dracula-ui"
      "dracula-theme"
    ]
  docblockr:
    deep_indent: true
  editor:
    fontFamily: "SourceCodePro-Light"
    invisibles: {}
    preferredLineLength: 1000
    showIndentGuide: true
    showInvisibles: true
    useShadowDOM: true
  emmet: {}
  "exception-reporting":
    userId: "user_id"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "fuzzy-finder":
    ignoredNames: [
      "migrate"
    ]
  "isotope-ui":
    backgroundColor: "false"
    fontFamily: "Source Sans Pro"
    lowContrastTooltip: true
    spaciousMode: true
  linter: {}
  "linter-eslint":
    disableFSCache: true
    fixOnSave: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-sass-lint":
    noConfigDisable: true
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
    executablePath: "path_to_linter"
  "linter-stylelint": {}
  "linter-ui-default":
    showPanel: true
    showTooltip: false
    useBusySignal: false
  pigments:
    groupPaletteColors: "by file"
    markerType: "dot"
    mergeColorDuplicates: true
    sortPaletteColors: "by color"
    traverseIntoSymlinkDirectories: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "travis-ci-status": {}
  "tree-view":
    focusOnReveal: false
    hideIgnoredNames: true
    showOnRightSide: true
    squashDirectoryNames: true
  "vim-mode":
    useClipboardAsDefaultRegister: false
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    highlightSearch: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".ansi.text":
  editor:
    preferredLineLength: 1000
".hack.html.text":
  editor:
    preferredLineLength: 1000
".hackfragment.source":
  editor:
    preferredLineLength: 1000
".haml.text":
  editor:
    preferredLineLength: 1000
".hamlc.text":
  editor:
    preferredLineLength: 1000
".html.mustache.text":
  editor:
    preferredLineLength: 1000
".ini.source":
  editor:
    preferredLineLength: 1000
".mustache.source.sql":
  editor:
    preferredLineLength: 1000
